* {
    border: 2px solid blue;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.canvas {
    width: 800px;
    height: 800px;

}

.tools {
    display: flex;
    justify-content: space-evenly;

}