 * {
    border: 2px solid blue;
}

body{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    gap: 15px;
}

.canvas {
    width: 800px;
    height: 800px;
    display:grid;
    flex-direction: column;
    flex: 1;    
}

.row {
    display: flex;
    flex-direction:row;
}

.pixel {
    margin: 0;
    padding: 0;
    border: 1px solid rgb(85, 157, 86);
    display: flex;
    flex-grow: 1;
}


.tools {
    display: flex;
    justify-content: space-evenly;
}
